@import "tailwindcss";
*{
    font-variant: small-caps;
    font-family: 'Roboto', sans-serif;
      
}
/* sage image 3D rotate */
.custom-tilt {
  transform-style: preserve-3d;
  transition: transform 0.5s;
}
.custom-tilt:hover {
  transform: perspective(600px) rotateX(15deg);
}

/* Animations */
@theme {
  --animate-intro-left: intro-left 1s ease  forwards;
  @keyframes intro-left{
    0%{
        transform: translateX(-1000px);
    }
    100%{
        transform: translateX(0);
    }
  }
  
  --animate-intro-right: intro-right 1s ease  forwards;
  @keyframes intro-right{
    0%{
        transform: translateX(+1000px);
    }
    100%{
        transform: translateX(0);
    }
  }
  --animate-achivers: achivers 1s ease  forwards ;
  @keyframes achivers{
    0%{
        transform: translateX(-1000px);
    }
    100%{
        transform: translateX(0);
    }
  }
}
#achiver{
    animation-timeline: view();
    animation-range: entry 0;
}